<mat-sidenav-container class="side">
  <mat-sidenav mode="side" opened *ngIf="authService.isAuthenticated()">
    <mat-nav-list>
      <a routerLink="" mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >home</mat-icon
        >
        Inicio
      </a>
      <!--inclui al menu--> 
      <a routerLink="/discos" mat-list-item>
        <mat-icon aria-hidden="false">save</mat-icon>
        Gestón de discos
      </a>

      <a routerLink="/dvr" mat-list-item>
        <mat-icon aria-hidden="false">dvr</mat-icon>
        Gestión de DVR
      </a>

      <a routerLink="/oficinas" mat-list-item>
        <mat-icon aria-hidden="false">maps_home_work</mat-icon>
        Gestión de Oficinas
      </a>


      <a routerLink="/usuarios" mat-list-item>
        <mat-icon aria-hidden="false">people</mat-icon>
        Usuarios
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
